{% extends "app/base.html" %}


{% block title %}
    <title>NovaTask • Edit Comment</title>
{% endblock title %}


{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h1 class = "text-center">Edit comment</h1>
        <form method="POST" class="p-5 p-md-5 border rounded-3 bg-body-tertiary">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Edit</button>
        </form>
    </div>
{% endblock content %}