{% extends "app/base.html" %}


{% block title %}
    <title>NovaTask • Update Task</title>
{% endblock title %}


{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <form method="POST" enctype = "multipart/form-data" class="p-5 p-md-5 border rounded-3 bg-body-tertiary">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}