{% extends "app/base.html" %}


{% block title %}
    <title>NovaTask • {{task.name}} • Details</title>
{% endblock title %}


{% block content %}
    <h1>{{task.name}}</h1>
    <p>Desc: {{task.description}}</p>
    <p>Status: {{task.get_status_display}}</p>
    <p>Priority: {{task.get_priority_display}}</p>
    <p>Deadline: {{task.deadline}}</p>

    <p>Comments:</p>
    {% for comment in comments %}
        <li>
            {{comment.content}}
            {{comment.author.first_name}} {{comment.author.second_name}}

            <!-- Кількість лайків -->
            <p>Likes: <span id="like-count-{{ comment.id }}">{{ comment.likes.count }}</span></p>

            <!-- Кнопка для лайку -->
            {% if user.is_authenticated %}
                <button 
                    class="like-button" 
                    data-comment-id="{{ comment.id }}">
                    {% if user in comment.likes.all|map:"user" %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            {% endif %}

            {% if comment.author == current_user %}
                <a class = "btn btn-outline-success" href = {% url "comment-update" comment.pk %}>Update</a>
                <a class = "btn btn-outline-danger" href = {% url "comment-delete" comment.pk %}>Delete</a>
            {% endif %}
        </li>
    {% endfor %}

    <form method = "POST">
        {% csrf_token %}
        {{ comments_form.as_p }}
        {% if user.is_authenticated %}
            <button class = "btn btn-primary" type = "submit">Upload Comment</button>
        {% else %}
            <button class = "btn btn-primary" type = "submit" disabled>Upload Comment</button>
        {% endif %}
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = document.querySelectorAll('.like-button');
            buttons.forEach(button => {
                button.addEventListener('click', function() {
                    const commentId = this.dataset.commentId;
                    const url = `/comments/${commentId}/like/`;
        
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        const likeCount = document.querySelector(`#like-count-${commentId}`);
                        likeCount.textContent = data.total_likes;
                        this.textContent = data.liked ? 'Unlike' : 'Like';
                    });
                });
            });
        });
        </script>

{% endblock content %}